{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block heading %}Registration Form{% endblock %}
{% block content %}
    <!-- <ul id="navigation">
    {% for item in data %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul> -->
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            {{ form.firstname.label() }}
            {{ form.firstname(class="form-control", placeholder="e.g. John") }}
            {{ form.lastname.label() }}
            {{ form.lastname(class="form-control", placeholder="e.g. Doe") }}
            {{ form.phone_number.label() }}
            {{ form.phone_number(class="form-control", placeholder="+91") }}
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Enter your email address") }}
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Enter password") }}
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm password") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Log In</a>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}