<nav class="navbar navbar-collapse navbar-light position-absolute" style="z-index: 1;">
  <div class="container-fluid">
    <button class="navbar-toggler second-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active">Welcome, {{ current_user.firstname }}</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="#" id="data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sijax">Sijax</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="#" id="signin-button" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="signup-button" data-bs-toggle="modal" data-bs-target="#signup-modal">Sign Up</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('logout_page') }}">Logout</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>